<% partner = view -%>
<div class="partner_view" id="partner_view_inner">
<% if partner -%>
  <div class="naziv"><%= partner.naziv.gsub("\n", "<br>").html_safe %></div>
  <div>
      <%=h partner.adresa %>,&nbsp;
      <%=h partner.mjesto %>
  </div>
  <% if exists?(partner.mjesto_troska) %>
      <div>
          <span class="note">mjesto troška:</span>
          <%=h partner.mjesto_troska.gsub("\n", "<br>").html_safe %>
      </div>
  <% end %>
  <% unless partner.porezni_broj.nil? || partner.porezni_broj.empty? %>
  <div><span class="note">porezni broj:</span> <%=h partner.porezni_broj %></div>
  <% end %>

  <div>
      <% unless partner.oib.nil? || partner.oib.empty? %>
          <span class="note">OIB:</span> <%=h partner.oib %>
      <% end %>
      <% unless partner.gln.nil? || partner.gln.empty? %>
          <span class="note">GLN:</span> <%=h partner.gln %>
      <% end %>
  </div>


<% end -%>
</div>
