= render :partial => 'racun/form_start'
= render :partial => 'osnovno'   
= render :partial => 'racun/stavke'
= render :partial => 'racun/edit_ukupno'
= render :partial => 'racun/edit_ostalo'
= render :partial => 'racun/form_end'
= render :partial => 'racun/js'