# encoding: utf-8

#racun_ispis.document

  .dokument_partner
    .right
      = render_partner_view(@racun)
    .partner_view
      = @user.racun_header.html_safe

  .dokument_naziv
    = "RAČUN - OTPREMNICA R-2 br. #{@racun.broj_dokumenta}" if @racun.racun?
    = "GOTOVINSKI RAČUN - OTPREMNICA R-2 br. #{@racun.broj_dokumenta}" if @racun.gotovinski?
    = "PONUDA br. #{@racun.broj_dokumenta}" if @racun.ponuda?

  .datum_head.left Datum
  .datum_head
    = "Rok Plaćanja" if @racun.racun?
    = nbsp if @racun.gotovinski?
    = "Vrijedi Dana" if @racun.ponuda?

  .datum_head
    = "Dospjeće" if @racun.racun?
    = nbsp if @racun.gotovinski?
    = "Vrijedi Do" if @racun.ponuda?
  .datum_head
    = "Operater"
  .datum_head
    = "Vrijeme"
  .datum_head.right.long
    - if @racun.racun?
      = "Naćin plaćanja"
    = nbsp

  .datum.left= d @racun.datum
  .datum
    = nbsp if @racun.gotovinski?
    = @racun.rok_placanja if !@racun.gotovinski?
  .datum
    = nbsp if @racun.gotovinski?
    = d @racun.dospjece if !@racun.gotovinski?
  .datum
    = "01"
  .datum
    = racun_vrijeme @racun.created_at
  .datum.right.long
    - if @racun.racun?
      = "transakcijiski račun"
    = nbsp

  - if @racun.broj_narudzbe?
    .datum_head.long Broj narudžbe
    .clear
    .datum.long= @racun.broj_narudzbe

  .clear

  .head_stavka
    - if @racun.ima_sifru?
      .head_stavka_sifra Šifra
      .head_stavka_opis Naziv
    - unless @racun.ima_sifru?
      .head_stavka_opis_sifra Naziv
    .head_stavka_jedinica_mjere Jedinica Mjere
    .head_stavka_kolicina Količina
    .head_stavka_cijena Cijena
    .head_stavka_iznos Iznos
    .clear
    - @racun.stavke.each do |stavka|
      - if @racun.ima_sifru?
        .sifra= stavka.sifra || nbsp
        .opis= h stavka.opis_bez_sifre
      - unless @racun.ima_sifru?
        .opis_sifra= h stavka.opis_bez_sifre
      .jedinica_mjere= h stavka.jedinica_mjere
      .kolicina= k stavka.kolicina
      .cijena= m stavka.cijena
      .iznos= m stavka.iznos
      .clear

  .ukupno
    .naslov UKUPNO
    .cola OSNOVICA
    .colbc= m @racun.osnovica
    .clear
    - if @racun.popust?
      .cola POPUST
      .colbc= m @racun.popust
      .clear
    .cola  PDV
    .colb= m @racun.pdv_postotak
    .colc= m @racun.pdv
    .clear
    .cola.colbold  IZNOS
    .colbc.colbold= m @racun.iznos
    .clear
  .potpis
  .footer
    - if @racun.racun?
      = "obračun prema naplaćenoj naknadi"
      <br/>
    = @user.racun_footer
