 
    <div class="head">
      <div class="logo">
        <h1 class="logo"><%= @user.naziv %></h1>
      </div>
      <div class="detalji">
        <div class="left">
          <p>Broj računa</p>
          <p>Datum</p>
          <p>Dospjeće</p>
        </div>
        <div class="right invoice_text_light">
          <p><%= @racun.broj %></p>
          <p><%= d @racun.datum %></p>
          <p><%= d @racun.dospjece %> (<%= @racun.rok_placanja %> dana)</p>
        </div>   
      </div>                       
    </div>    
   
    <div class="adrese">
      <div class="kupac">
        <p><strong><%= @racun.partner.naziv %></strong></p>
        <p><%= @racun.partner.adresa %></p>
        <p><%= @racun.partner.mjesto %></p>
        <p>Porezni Broj: <%= @racun.partner.porezni_broj %></p>
      </div>
      <div class="prodavac">
        <p><strong><%= @user.naziv %></strong></p>
        <p><%= @user.adresa %></p>
        <p><%= @user.mjesto %></p>
        <p>Porezni Broj:<%= @user.porezni_broj %></p>
      </div>
    </div>
    
    <div class="stavke">
      <ul>
        <li class="header">
          <span class="opis">Opis</span>
          <span class="kolicina">Količina</span>      
          <span class="cijena">Cijena</span>
          <span class="iznos">Iznos</span>
        </li>            
        <% @racun.stavke.each_with_index do |stavka, index| %>
        <li class="stavka invoice_line <%= "alt" if index % 2 == 1  %>">
          <span class="opis"><%= stavka.opis %></span>
          <span class="kolicina"><%= k stavka.kolicina %> <%= stavka.jedinica_mjere %></span>      
          <span class="cijena"><%= m stavka.cijena %></span>
          <span class="iznos"><%= m stavka.iznos %></span>
        </li>        
        <% end %>
      </ul>    
      
      <div class="total">
        <div class="left">          
          <p>Osnovica</p>
          <p>PDV</p>
          <p class="ukupno">Iznos</p>
        </div>
        <div class="right">          
          <p><%= m @racun.osnovica %></p>
          <p><%= m @racun.pdv %></p>
          <p class="ukupno"><%= m @racun.iznos %></p>
        </div>
      </div>
    </div>
    
    



