%h3=@title
= error_messages_for 'user'

- form_remote_tag(:url=>{:action => 'update'}, :update =>"edit") do
  .sub_form
    = row_element "Naziv",               text_area ('user', 'naziv',        :class => "t")
    = row_element "Adresa",              text_field('user', 'adresa',       :class => "t")
    = row_element "Mjesto",              text_field('user', 'mjesto',       :class => "t")
    .cleaner
  %h5
  .sub_form
    = row_element "JBMG - porezni broj", text_field('user', 'porezni_broj', :class => "t")
    = row_element "MBO - matični broj obrta", text_field('user', 'mbo',     :class => "t")
    = row_element "Žiro račun",         text_field('user', 'ziro_racun',    :class => "t")
    .cleaner
  %h5
  .sub_form
    = row_element "Tel",                text_field('user', 'tel',          :class => "t")
    = row_element "Fax",                text_field('user', 'fax',          :class => "t")
    = row_element "Gsm",                text_field('user', 'gsm',          :class => "t")
    = row_element "E-mail",             text_field('user', 'email',        :class => "t")
    = row_element "Web adresa",         text_field('user', 'www',          :class => "t")
    .cleaner 
  = submit_tag 'UPIŠI', :class => "button"