%tr.{:class => "#{even_odd(racun_counter)}"}
  %td.broj= racun_broj(racun)
  %td.partner= render_partner(racun)
  %td.d= d racun.datum
  %td.d= racun.rok_placanja
  %td.m
    = m racun.osnovica
    .popust{:title=>"Popust #{m racun.popust_postotak}%"}= m racun.popust if racun.popust?
  %td.m= m racun.pdv
  %td.iznos= m racun.iznos