#filter{:style => 'display:none'}
  %form{:id => 'filter_form'}
    %h5 filter
    .sub_form
      .row
        = element "godina", select_godina(@godina)
        = element "mjesec", select_mjesec(@mjesec)
      = row_element "redaka po stranici", select_per_page(@per_page)
      .cleaner
    = submit_tag('PRIKAŽI', :class => "button")

= render_paginator(@partneri_pages, @params, true, false)

%table.fin.sortable
  %thead
    %tr
      %th kupac
      %th iznos
      %th placeno
      %th dug
      %th broj<br />računa
      %th broj<br />neplaćenih<br />računa
  %tbody
    = render_collection "kupci_row", @partneri, "partner"