# encoding: utf-8

<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <LastAuthor> </LastAuthor>
  <LastPrinted>2007-01-20T11:40:57Z</LastPrinted>
  <Created>2007-01-20T11:27:29Z</Created>
  <Version>11.6568</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <Colors>
   <Color>
    <Index>1</Index>
    <RGB>#D4D0C8</RGB>
   </Color>
   <Color>
    <Index>2</Index>
    <RGB>#000000</RGB>
   </Color>
   <Color>
    <Index>3</Index>
    <RGB>#D4D0C8</RGB>
   </Color>
   <Color>
    <Index>4</Index>
    <RGB>#000000</RGB>
   </Color>
   <Color>
    <Index>5</Index>
    <RGB>#FFFFFF</RGB>
   </Color>
   <Color>
    <Index>6</Index>
    <RGB>#000000</RGB>
   </Color>
   <Color>
    <Index>7</Index>
    <RGB>#FFFFFF</RGB>
   </Color>
   <Color>
    <Index>8</Index>
    <RGB>#000000</RGB>
   </Color>
   <Color>
    <Index>9</Index>
    <RGB>#D4D0C8</RGB>
   </Color>
   <Color>
    <Index>10</Index>
    <RGB>#000000</RGB>
   </Color>
   <Color>
    <Index>11</Index>
    <RGB>#D4D0C8</RGB>
   </Color>
   <Color>
    <Index>12</Index>
    <RGB>#000000</RGB>
   </Color>
  </Colors>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>9345</WindowHeight>
  <WindowWidth>16140</WindowWidth>
  <WindowTopX>120</WindowTopX>
  <WindowTopY>90</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font x:CharSet="238"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s16" ss:Name="Comma">
   <NumberFormat
    ss:Format="_-* #,##0.00\ _k_n_-;\-* #,##0.00\ _k_n_-;_-* &quot;-&quot;??\ _k_n_-;_-@_-"/>
  </Style>
  <Style ss:ID="m20318694">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m20333436">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m20333456">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m20333466">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s21">
   <NumberFormat ss:Format="@"/>
  </Style>
  <Style ss:ID="s29">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s46">
   <Alignment ss:Vertical="Bottom" ss:WrapText="1"/>
  </Style>
  <Style ss:ID="s48">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s49">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s50">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#D4D0C8" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="@"/>
  </Style>
  <Style ss:ID="s51">
   <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s52">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s53">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="d/m/yy/;@"/>
  </Style>
  <Style ss:ID="s54">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s55">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="@"/>
  </Style>
  <Style ss:ID="s57" ss:Parent="s16">
   <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="#,##0.00;#,##0.00;&quot;-&quot;"/>
  </Style>
  <Style ss:ID="s58">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:CharSet="238" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="d/m/yy/;@"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Knjiga Ulaznih Računa">
  <Table>
   <Column ss:Width="25.5"/>
   <Column ss:Width="80"/>
   <Column ss:AutoFitWidth="0" ss:Width="50.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="189"/>
   <Column ss:StyleID="s21" ss:AutoFitWidth="0" ss:Width="66.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="51.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="45"/>
   <Column ss:AutoFitWidth="0" ss:Width="57.75"/>
   <Column ss:Width="50.25" ss:Span="1"/>
   <Column ss:Index="11" ss:AutoFitWidth="0" ss:Width="52.5"/>
   <Column ss:Width="46.5"/>
   <Row ss:AutoFitHeight="0">
    <Cell ss:MergeDown="1" ss:StyleID="m20333436"><Data ss:Type="String">R.BR.</Data></Cell>
    <Cell ss:MergeAcross="1" ss:StyleID="s29"><Data ss:Type="String">RAČUN</Data></Cell>
    <Cell ss:MergeAcross="1" ss:StyleID="m20333456"><Data ss:Type="String">DOBAVLJAČ</Data></Cell>
    <Cell ss:MergeAcross="2" ss:StyleID="m20333466"><Data ss:Type="String">IZNOS RAČUNA</Data></Cell>
    <Cell ss:MergeAcross="2" ss:StyleID="s29"><Data ss:Type="String">PREDPOREZ</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m20318694"><Data ss:Type="String">DATUM PLAĆANJA</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="23.25" ss:StyleID="s46">
    <Cell ss:Index="2" ss:StyleID="s48"><Data ss:Type="String">BROJ</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">NADNEVAK</Data></Cell>
    <Cell ss:StyleID="s49"><Data ss:Type="String">NAZIV</Data></Cell>
    <Cell ss:StyleID="s50"><Data ss:Type="String">MB/JMBG</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">BEZ POREZA</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">UKUPNO</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">OPOREZIVI DIO</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">UKUPNO</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">MOŽE SE ODBITI</Data></Cell>
    <Cell ss:StyleID="s48"><Data ss:Type="String">NE MOŽE SE ODBITI</Data></Cell>
   </Row>
   <%
    @rb = 1
    for placanje in @placanja  -%>
   <Row>
    <Cell ss:StyleID="s51"><Data ss:Type="Number"><%= @rb %></Data></Cell>
    <Cell ss:StyleID="s52"><Data ss:Type="String"><%= placanje.racun.partner_broj %></Data></Cell>
    <Cell ss:StyleID="s53"><Data ss:Type="DateTime"><%= placanje.racun.datum %></Data></Cell>
    <Cell ss:StyleID="s54"><Data ss:Type="String"><%=h placanje.racun.partner.naziv %></Data></Cell>
    <Cell ss:StyleID="s55"><Data ss:Type="String"><%=h placanje.racun.partner.porezni_broj %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.bez_poreza %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.iznos %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.porezna_osnovica %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.pdv %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.pdv_moze_se_odbiti %></Data></Cell>
    <Cell ss:StyleID="s57"><Data ss:Type="Number"><%= placanje.pdv_nemoze_se_odbiti %></Data></Cell>
    <Cell ss:StyleID="s58"><Data ss:Type="DateTime"><%= placanje.datum %></Data></Cell>
   </Row>
   <% 
    @rb +=  1
    end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <PageMargins x:Left="0.69" x:Right="0.37"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>1200</HorizontalResolution>
    <VerticalResolution>1200</VerticalResolution>
    <NumberofCopies>0</NumberofCopies>
   </Print>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>2</ActiveRow>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
